/* Reset default margin and padding */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 1.8rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.input-section,
.householder-section,
.button-section,
.record-list,
.totals,
.map-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 70px;
  margin-bottom: 20px;
}

.input-section label,
.householder-section label,
.button-section button {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

input[type="date"],
input[type="number"],
input[type="text"]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
}
button{
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
  
}

.button-section {
  text-align: center; /* Center the button horizontally */
}

.button-section button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-block; /* Ensure the button takes up only the necessary width */
}


.button-section button:hover {
  background-color: #555;
  transform: scale(1.05);
}
.button-section #getAddressButton {
  margin-top: 20px;
}
.record-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.record-list {
  margin: 0;
  padding: 0;
}
.totals {
  background-color: #f9f9f9;
  padding: 70px;
  border-radius: 5px;
  
}
.totals p,h2{
  margin-bottom: 20px;
}
.map {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}


.delete-button{
  width: 70px;
}
@media screen and (max-width: 480px) {
  input[type="number"],
  input[type="text"],
  input[type="date"],
  button {
    font-size: 14px;
  }

  .button-section button {
    width: 10%;
  }
}

/* Add any additional custom styles here */
